* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

header {
  background-color: #53314f;
  color: white;
  padding-bottom: 5px;
}

.border {
  border: solid, 1px, black;
}

.paddingForm {
  padding-right: 5px;
  padding-left: 5px;
}

body {
  background-color: #EEEEEE;
}

h5 {
  margin-left: -8px;
}

table {
  background-color: white;
}

.checkbox {
  margin-left: 25px;
}
